::selection {
    background: #eee;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    /* font-size: 10pt; */
    /* font-family: monospace; */
    /* color: #000; */
    background-color: #fff;
    font: .875em/1.6 'Inconsolata', monospace;
    color: #181818;
    font-weight: 400;
    /* max-width: 28em; */
    padding: 1em;
    margin: 5% 0;
    /* margin-top: 150px; */
    /* padding-top: 150px; */
}
#container {
    padding: .1em 1.5em 1em 1em;
    margin-left: 10px;
    margin-right: 135px;
    padding-top: 150px;
}
#cmdline {
    outline: none;
    background-color: transparent;
    /* margin: 0; */
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
    margin: 2em 0;
}
#output {
    clear: both;
    width: 100%;
    /* margin-bottom: 200px; */
}
#prompt {
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
    display: box;
    box-pack: center;
    box-orient: vertical;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.prompt-color {
    /* color: #0225c7; */
    /* font-weight: bold; */
    color: #181818;
    font-weight: 700;
    margin: 2em 0;
}
.input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    clear: both;
}
.input-line > div:nth-child(2) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

#githubImg img {
    position: absolute;
    /* top: 30px; */
    /* right: 0; */
    /* border: 0; */
    /* left: 0px; */
    z-index: 100;
    width: 600px;
    height: 200px;
}

/* SIDE NAV */

#sidenavBtn {
    position: absolute !important;
    padding: 2px !important; 
    top: 0 !important;
    right: 7px !important;
    font-size: 35px !important;
}

#sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9;
    /* top: 0; */
    left: 0;
    background-color: #fff;
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.3s;
    /* padding-top: 60px; */
    bottom: 0px;
    height: 49px;
    border-top: 1px dashed #000;
    /* border-style: dashed; */
    display: grid;
    grid-auto-flow: column;
}
#sidenav img {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    transition: 0.3s;
    opacity: 0;
}

#sidenav img:focus {
    outline: none;
}

#sidenav button {
    /* padding: 8px 8px 8px 32px; */
    cursor: pointer;
    /* text-decoration: none; */
    font-size: 15pt;
    color: #000;
    /* display: block; */
    transition: 0.3s;
    background:none !important;
    border:none;
    font: inherit;
    padding: auto;
}
#sidenav button:hover {
    color: #442e00;
}

.githubImg{
    /* position: absolute; */
    /* bottom: 0px; */
    /* right: 0px; */
    /* width: 400px; */
}

@media screen and (max-height: 450px) {
    body {
        font-size: 11pt;
    }
    #sidenav {
       padding-top: 15px;
   }
    #sidenav a {
       font-size: 13px;
   }
}

@media screen and (max-width: 900px) {
    #githubImg img {
        transform: translateX(900px);
    }

    #container {
        margin-right: 0;
        max-width: 600px;
        padding-top: 150px;
        margin-bottom: 200px;
        /* display: none; */
    }
}